{% extends "base.html" %}
{% block content %}
  <h1>Our Manufacturers</h1>

  {% if manufacturer_list %}
    <div class="table-responsive">
      <table class="table table-striped table-bordered align-middle">
        <thead class="table-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Country</th>
          </tr>
        </thead>
        <tbody>
          {% for manufacturer in manufacturer_list %}
            <tr>
              <td>{{ manufacturer.name }}</td>
              <td>{{ manufacturer.country }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>No manufacturers found.</p>
  {% endif %}
{% endblock %}
